:root {
  /*Colors*/
  --highlight-color: hsl(157, 74%, 63%);
  --primary-dark-color: hsl(225, 26%, 23%);
  --primary-color: hsl(225, 21%, 45%);
  --primary-light-color: hsl(225, 40%, 83%);
  --blackish: hsl(224, 35%, 11%);
  --blackish-with-opacity: hsla(224, 35%, 11%, 0.9);
  --white: hsl(0, 0%, 100%);
  /*Sizes*/
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --container-padding: var(--s1);
  --container-padding-tablet: var(--s2);

  /*Typography*/
  --heading-font-size: var(--s1);
  --tablet-heading-font-size: var(--s3);
  --body-font-size: 18px;
  --bold-font-weight: 700;
  --light-font-weight: 300;

  /*layout sizes*/
  --green-dots-width: 232px;
  --tablet-host-image-width: 488px;
  --desktop-host-image-width: 888px;
}

* {
  box-sizing: inherit;
}

html {
  font-family: "Chivo", sans-serif;
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  font-weight: var(--light-font-weight);
  background-color: var(--blackish);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--heading-font-size);
  font-weight: var(--normal-font-weight);
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  background-image: linear-gradient(
      var(--blackish-with-opacity),
      var(--blackish-with-opacity)
    ),
    url("./assets/mobile/image-host.jpg");
  background-size: cover;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.header img {
  display: inline-block;
  margin-top: var(--s3);
  margin-bottom: var(--s3);
}

.main {
  color: var(--primary-light-color);
  text-align: center;
  line-height: var(--s1);
  font-size: var(--body-font-size);
}

.main .main-heading {
  color: var(--highlight-color);
  text-transform: uppercase;
  line-height: var(--s2);
  margin-top: 0;
}

.main .main-copy {
  max-width: 40ch;
}

.main .main-heading span {
  color: var(--white);
}

.available-on-platform-list {
  list-style: none;
  display: flex;
  gap: 25px;
  padding-left: 0;
  justify-content: space-between;
  margin-top: var(--s2);
  margin-bottom: var(--s2);
}

.available-on-platform-list li {
}

.available-on-platform-list img {
  width: 100%;
}

.request-access-form {
  display: flex;
  flex-direction: column;
  gap: var(--s0);
  margin-bottom: var(--s3);
}

.request-access-form > input,
.request-access-form > button {
  border-radius: var(--s2);
  font-weight: bold;
  width: 100%;
  padding-top: var(--s0);
  padding-bottom: var(--s0);
  padding-left: var(--s2);
  padding-right: var(--s2);
  outline: none;
  border: none;
}

.request-access-form > input {
  background-color: var(--primary-dark-color);
  color: var(--primary-light-color);
  size: 5ch;
}

.request-access-form > button {
  background-color: var(--highlight-color);
  color: var(--blackish);
}

/***************************
Helpers
****************************/
.hide-element {
  border: 0;
  clip: rect(1px 1px 1px 1px); /*IE6 & IE7*/
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hide-element-focusable:active,
.hide-element-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/**********************
TABLET width = 768px
**********************/

@media only screen and (min-width: 768px) {
  .container {
    align-items: flex-start;
    background-image: url("./assets/tablet/image-host.jpg"),
      url("./assets/desktop/bg-pattern-dots.svg");
    background-size: var(--tablet-host-image-width), var(--green-dots-width);
    background-repeat: no-repeat;
    background-position: right top, left var(--container-padding-tablet) bottom;
    background-color: var(--blackish);
    background-origin: padding-box;
    padding-left: var(--container-padding-tablet);
    padding-right: var(--container-padding-tablet);
    transition: background-position 1s ease-in-out;
  }

  .header {
    margin-bottom: var(--s4);
  }

  .main {
    background-color: var(--blackish);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 723px;
    line-height: calc(var(--s1) * 1.25);
    padding-top: var(--s4);
  }

  .main > * + * {
    margin-top: var(--s2);
    margin-bottom: 0;
  }

  .main .main-heading {
    font-size: var(--tablet-heading-font-size);
    line-height: calc(var(--s3) * 1.25);
  }

  .main .available-on-platform-list {
    order: 5;
  }

  .main .request-access-form {
    order: 4;
  }

  .main .request-access-form {
    background-color: var(--primary-dark-color);
    border: 5px solid var(--primary-dark-color);
    border-radius: var(--s2);
    flex-direction: row;
  }

  .main .request-access-form > button {
    padding-left: var(--s-2);
    padding-right: var(--s-2);
  }
}

/****************************
DESKTOP width = 1440px
*****************************/

@media only screen and (min-width: 1440px) {
  .container {
    background-image: url("./assets/desktop/image-host.jpg"),
      url("./assets/desktop/bg-pattern-dots.svg");

    background-repeat: no-repeat;
    background-size: var(--desktop-host-image-width), var(--green-dots-width);
    background-position: right top 122px, right bottom 78px;
    padding-left: 168px;
    max-width: 1275px;
    margin: 0 auto;
  }
}
