:root {
    /*Colors*/
    --highlight-color: hsl(157, 74%, 63%);
    --primary-dark-color: hsl(225, 26%, 23%);
    --primary-color: hsl(225, 21%, 45%);
    --primary-light-color: hsl(225, 40%, 83%);
    --blackish: hsl(224, 35%, 11%);
    --blackish-with-opacity: hsla(224, 35%, 11%, 0.9);
    --white: hsl(0, 0%, 100%);
    /*Sizes*/
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
    /*Typography*/
    --heading-font-size: var(--s1);
    --body-font-size: 18px;
}

* {
    box-sizing: inherit;
}

html, body {
    font-family: "Chivo", sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-size: var(--heading-font-size);
}

.container {
    background-image: linear-gradient(var(--blackish-with-opacity), var(--blackish-with-opacity)), url("./assets/mobile/image-host.jpg");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
}

.header img {
    display: inline-block;
    margin-top: var(--s3);
    margin-bottom: var(--s3)
}

.main {
    color: var(--primary-light-color);
    text-align: center;
    line-height: var(--s1);
    font-size: var(--body-font-size);
}

.main .main-heading {
    color: var(--highlight-color);
    text-transform: uppercase;
    line-height: var(--s2);
    margin-top: 0;
}

.main .main-heading span {
    color: var(--white);
}

.available-on-platform-list {
    list-style: none;
    display: flex;
    gap: 25px;
    padding-left: 0;
    justify-content: space-between;
    margin-top: var(--s2);
    margin-bottom: var(--s2);
}

.available-on-platform-list li {}

.available-on-platform-list img {
    width: 100%;
}

.request-access-form>*+* {
    margin-top: var(--s0);
}

.request-access-form>input, .request-access-form>button {
    border-radius: var(--s2);
    font-weight: bold;
    width: 100%;
    padding-top: var(--s0);
    padding-bottom: var(--s0);
    padding-left: var(--s2);
    padding-right: var(--s2);
    outline: none;
    border: none;
}

.request-access-form>input {
    background-color: var(--primary-dark-color);
    color: var(--primary-light-color);
    size: 5ch;
}

.request-access-form>button {
    background-color: var(--highlight-color);
    color: var(--blackish);
}